:root {
  --color-gray-2: #c8c8c8;
  --color-gray-5: #f8f8f8;
  --color-yellow: #ffcd00;
  --color-red: #f84949;
  --color-green-3: #f5fbf1;
  --color-green-1: #02da77;
  --color-black-3: #333333;
  --color-gray-3: #e1e1e1;
  --color-gray-4: #f1f1f1;
  --color-green-2: #28d25c;
  --color-white: #ffffff;
  --color-black-1: #111111;
  --color-black-6: #666666;
  --color-black-2: #222222;
  --color-gray-1: #999999;
  --color-gray-6: #fbfbfb;
}