/* 윈도우 화면  */
@media only screen and (min-width: 1200px) {
   .NoCart {
      color: var(--color-gray-1);
   }

   .Contain {
      height: 144px;
   }

   #HrTag {
      border: 0;
      height: 2px;
      background-color: var(--color-black-2);
   }

   #goodsLine {
      border: 0;
      height: 8px;
      background-color: var(--color-gray-4);
   }

   .goodsImg {
      width: 96px;
      height: 96px;
      border-radius: 4px;
      margin-top: 24px;
      margin-left: 32px;
      border: solid 1px #f2f2f2;
   }

   .nonGoodsImg {
      width: 96px;
      height: 96px;
      object-fit: contain;
      border-radius: 5px;
      margin-top: 24px;
      margin-left: 32px;
      border-radius: 4px;
   }

   .soldOut {
      width: 96px;
      height: 96px;
      position: absolute;
      background-color: rgba(51, 51, 51, 0.5);
      bottom: 6px;
      text-align: center;
      font-family: NotoSansCJKkr;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      text-align: center;
      border-radius: 4px;
      margin-left: 32px;
   }

   .ItemHeader {
      /* margin-top: 10px; */
      height: 46px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
   }

   .itemText {
      color: var(--color-white);
      width: 43px;
      height: 36px;
      margin-left: 27px;
      margin-top: 30px;
   }

   .mainTable {
      margin-top: 56px;
   }

   .cartLine {
      width: 894px;
      height: 2px;
      fill: var(--color-black-2);
   }

   .entryLine {
      width: 894px;
      height: 8px;
      fill: var(--color-gray-4);
   }

   .Contain {
      margin-right: 360px;
      margin-top: 300px;
   }

   .cartName {
      width: 89px;
      font-family: NotoSansCJKkr;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--color-black-1);
   }

   .goodsNm {
      height: 19px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      color: var(--color-black-3);
      margin-top: 32px;
      margin-bottom: 23px;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
   }

   .Text {
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--color-black-3);
   }

   .GreenCheckBox {
      margin-top: 11px;
   }

   .middle {
      width: 42px;
      height: 20px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--color-black-3);
   }

   .TrashBtn {
      margin-bottom: 8px;
      margin-top: 7px;
   }

   .Option {
      width: 48px;
      height: 20px;
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--color-black-3);
   }

   .Cost {
      width: 59px;
      height: 22px;
      font-family: NotoSansCJKkr;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: center;
      color: var(--color-black-1);
   }

   .mainLine {
      width: 1px;
      height: 48px;
      fill: var(--color-gray-4);
   }

   .optionBar {
      height: 48px;
      border-radius: 8px;
      background-color: var(--color-gray-5);
      margin-top: 23px;
      margin-left: 15px;
   }

   .optionNm {
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--color-black-3);
      padding-top: 14px;
      padding-left: 10px;
   }

   .countSelect {
      text-align: left;
      width: 80px;
      height: 32px;
      border-radius: 8px;
      background-color: var(--color-white);
      margin-top: 8px;
      margin-left: 313px;
   }

   .frontBox {
      width: 49px;
      height: 32px;
      border-right: 8px;
      border-radius: 8px;
      border: solid 1px var(--color-gray-4);
      padding-left: 14px;
   }

   .endBox {
      width: 32px;
      height: 32px;
      border-left: 8px;
      border: solid 1px var(--color-gray-4);
      padding-left: 8px;
   }

   .deliveryPrice {
      margin-top: 62px;
      margin-left: 6px;
   }

   .goodsPrice {
      margin-top: 62px;
   }

   .delNm {
      margin-top: 16px;
      height: 20px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--color-black-3);
   }

   .last {
      margin-top: 8px;
      height: 20px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--color-black-3);
   }

   .selectBox {
      width: 80px;
      height: 32px;
      border-radius: 8px;
      background-color: var(--color-white);
   }
   select {
      width: 56px;
      height: 32px;
      appearance: none;
      background-image: url(../img/arrow-down.svg);
      /* background-size: 15px 10px; */
      background-position: right 7px center;
      background-repeat: no-repeat;
      margin-right: 9px;
      /* margin-right: 10px; */
   }

   select::-ms-expand {
      display: none;
   }

   .unGoodsNm {
   }

   .unOption {
      font-family: NotoSansCJKkr;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      color: var(--color-gray-1);
      margin-top: 40px;
      margin-bottom: 23px;
   }

   .selectCnt {
      margin-top: 8px;
      width: 81px;
      height: 32px;
      border-radius: 8px;
      border: solid 1px var(--color-gray-4);
      text-align: center;
   }

   .allCart {
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: var(--color-black-3);
      margin-top: 12px;
   }
   .nonItemListHeader {
      width: 89px;
      height: 36px;
      font-family: NotoSansCJKkr;
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--color-black-1);
      text-align: left;
      margin-bottom: 24px;
      margin-left: 2.8%;
   }

   .nonItemListCenter {
      width: 145px;
      height: 38px;
      font-family: NotoSansCJKkr;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.27;
      letter-spacing: normal;
      text-align: center;
      margin-left: 43%;
      color: var(--color-gray-1);
      margin-top: 120px;
   }

   .nonContainer {
      /* margin-bottom: 160px; */
      margin-top: 56px;
   }
}
